:root {
  --primary-background-color: #3c3434;
  --primary-background-light: #f3f1f1;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-background-color);
  color: rgb(214, 214, 214);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.chat-app-wrapper {
  width: 100%;
  position: sticky;
}

.title-section-wrapper {
  padding: 5px 0px 0px;
  text-align: center;
  background-color: var(--primary-background-color);
  color: var(--primary-background-light);
}
.title-section-wrapper h2 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.title-section-wrapper .title-first-letter {
  font-size: 25px;
}
.title-section-wrapper p {
  font-size: 12px;
  margin: 0px;
  padding-bottom: 15px;
}

.chat-message-box {
  box-sizing: border-box;
  height: 75vh; /* Set to 75% of the viewport height */
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #42424b;
  width: 100%;
  background-color: #f7f7fa;
  padding: 10px 40px 50px;
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin: 10px 10px;
  background-color: rgb(198, 230, 248);
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 15px 40px;
  font-size: 14px;
  width: 400px;
}
.chat-message ul {
  font-size: 12px;
}
.chat-message .sender {
  font-size: 0.8em;
  font-weight: bold;
}

.chat-message .timestamp {
  font-size: 0.5em;
  font-weight: light;
}

.chat-message .header {
  /* margin-bottom: 8px; */
}

.chat-message .message p {
  margin-top: 4px;
}

.chat-message.pending {
  background-color: #f7f7fa;
  box-shadow: none;
}

.data-view {
  margin: 5px 10px;
  font-size: 14px;
  /* width: 100%; */
  /* box-sizing: border-box; */
  width: 800px;
  box-sizing: border-box;
  height: 75vh;
  overflow: auto;
}

.data-view .title {
  font-weight: 500;
  margin-bottom: ;
}
.data-view .data-box {
  width: 100%;
  box-sizing: border-box; /* Allows text to wrap normally */
  font-size: 10px;
  padding: 5px 20px;
}
.data-view .data-box .state-message,
.data-view .data-box .state-response {
  border-bottom: 1px solid rgb(164, 167, 168);
}

.data-view .data-box .state-message span,
.data-view .data-box .state-response span {
  overflow-wrap: break-word; /* Allows long words to break */
  word-break: break-word; /* Ensures words break at the end of the line */
  white-space: normal; /* Allows text to wrap normally */
}

.data-view .data-box .state-response span.__json-key__,
.data-view .data-box .state-response span.__json-string__,
.data-view .data-box .state-response span.description-content,
.data-view .data-box .state-response span.__json-pretty__ {
  overflow-wrap: break-word; /* Allows long words to break */
  word-break: break-word; /* Ensures words break at the end of the line */
  white-space: normal; /* Allows text to wrap normally */
}

.data-view .data-box .state-response span.__json-key__,
.data-view .data-box .state-message span.__json-key__ {
  font-weight: 600;
}

/* Target the specific span containing the description key */
.data-view
  .data-box
  .state-response
  span.__json-key__:contains("description")
  + span.__json-string__ {
  overflow-wrap: break-word; /* Allows long words to break */
  word-break: break-word; /* Ensures words break at the end of the line */
  white-space: normal; /* Allows text to wrap normally */
}

.ai-message {
  background-color: #dce8ff;
}

.send-btn {
  margin-right: 10px;
}
.chat-form {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: var(--primary-background-color);
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 10px;
  background-color: #dce8ff;
  box-sizing: border-box;
}

textarea.input-box {
  height: 300px;
  border: none;
  resize: none;
  font-size: 12px;
  padding: 5px;
}

.msg-btn-section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  background-color: #ffffff;
}

.msg-btn {
  padding: 2px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  cursor: pointer;
}
.msg-btn:hover {
  background-color: #eefbf4;
}

.msg-btn.send {
  font-weight: 500;
}

.msg-btn.clear {
  color: #aeaeae;
}

.msg-btn.clear:hover {
  background-color: #f8ebdb;
}

.chat-actions {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 490px;
  margin-top: 15px 10px 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 5px;
  bottom: 0;
}
.host-buttons {
  border: 1px solid lightblue;
  font-size: 10px;
  font-weight: 300;
  padding: 5px;
  border-radius: 0;
  cursor: pointer;
  color: #1797c3;
}

.host-buttons:hover {
  border: 1px solid lightblue;
  font-weight: 500;
  color: #106f8e;
  background-color: #dff0f5;
}

.admin-controls {
  padding-top: 15px;
  background-color: var(--primary-background-color);
}

.admin-controls button {
  padding: 5px 5px;
  background-color: var(--primary-background-color);
  color: #868181;
  font-size: 14px;
  font-weight: 400;
}

.admin-controls button.selected {
  border-color: #106f8e;
}

.admin-controls button:hover {
  color: #c5c1c1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
